<h2 align="center">Welcome to the Demo</h2>
<br>
<div class="container" align="center">
  <div class="btn btn-lg btn-light">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, class: "btn", method: :delete %>
    <% else %>
      <%= link_to 'Log In', user_session_path, class: "btn" %>
    <% end %>
  </div>
  <div class="btn btn-lg btn-light">
    <%= link_to 'Facebook', user_facebook_omniauth_authorize_path, class: "btn" %>
  </div>
  <div class="btn btn-lg btn-light">
    <%= link_to 'Google+', user_google_oauth2_omniauth_authorize_path, class: "btn" %>
  </div>
  <div class="btn btn-lg btn-light">
    <%= link_to 'Twitter', user_twitter_omniauth_authorize_path, class: "btn" %>
  </div>
</div>
